:root {
  --red: #fff;
  --blue: #0044c2;
  --lightblue: #ffffff;
  --dark_blue: #000a25;
  --blue: #0541af;
  --dark_blue: #000a25;
  --white: #fff;
  --gray: #e9ecf0;
  --white:#fff;
  --dark_blue: #000a25;
  --light_blue:#e9ecf0;
  --gray: #e9ecf0;
  --blue: #0541af;
  
}

FONT FAMILIES
poppins
heebo
roboto